@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
html, body {
    font-family: 'Josefin Sans';
    height: 100%;
}

.wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    height: inherit;
    padding-left: 10%;
    padding-right: 10%;
}

@media (min-width: 375px) {
    .wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (min-width: 768px), (orientation: landscape) {
    .wrapper {
        height: 50%;
    }
}

.split-wrapper {
    height: inherit;
}

@media (min-width: 768px), (orientation: landscape) {
    .split-wrapper {
        height: 90%;
    }
}

.split {
    float: left;
    height: 65%;
    width: 100%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.split.right {
    height: 35%;
}

@media (min-width: 768px), (orientation: landscape) {
    .split {
        height: 100%;
        width: 50%;
    }
    .split.right {
        height: 100%;
    }
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 100%;
}

.right .centered img {
    display: block;
    left: 0;
    width: 30%;
}

@media (min-width: 768px), (orientation: landscape) {
    .centered img, .right .centered img {
        display: inline;
        width: 50%;
    }
}

.headline-wrapper {
    position: fixed;
    bottom: 25%;
    left: 0;
    right: 0;
    padding-left: 10%;
}

@media (min-width: 375px) {
    .headline-wrapper {
        padding-left: 5%;
    }
}

.headline-wrapper span {
    display: block;
}

@media (min-width: 768px), (orientation: landscape) {
    .headline-wrapper {
        padding-left: 0;
        text-align: center;
        bottom: 0;
    }
    .headline-wrapper span {
        display: inline;
    }
}

h1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
}

@media (min-width: 375px) {
    h1 {
        font-size: 17px;
    }
}

@media (min-width: 375px) {
    h1 {
        font-size: 19px;
    }
}

@media (min-width: 768px), (orientation: landscape) {
    h1 {
        font-size: 28px;
    }
}

h2 a, h2 a:hover {
    display: block;
    font-weight: 600;
    color: #000;
    font-size: 22px;
    margin-top: 1.4rem;
}

@media (max-width: 767px) and (orientation: portrait) {
    .right h2 {
        display: none;
    }
}

@media (orientation:landscape) and (max-height: 720px) {
    .wrapper {
        height: 90%;
    }
    .split-wrapper {
        height: 75%;
    }
    h1 {
        font-size: 24px;
    }
}